/* Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)

## Typography

### Body Copy

- Font size: 15px

### Headings

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 500, 700
*/

@use "src/colours";

$container-sm: 540px;
$container-md: 740px;
$container-lg: 960px;
$container-xlg: 1140px;
$container-xxlg: 1300px;

header {
  height: 9.375rem;
  @media screen and (min-width: 992px) {
    height: 12.5rem;
  }
}

picture {
  img {
    width: 100%;
    height: 100%;
    background-blend-mode: darken;
    background-color: colours.$desat-dark-cyan;
  }
}

main {
  background-color: transparent;
}

.container {
  max-width: 80%;
  padding: 2rem 2rem 1.2rem 1rem;
  margin-block-start: 2.3rem;
  margin-inline: auto;
  background-color: white;

  @media screen and (min-width: 576px) {
    width: $container-sm !important;
  }

  @media screen and (min-width: 768px) {
    width: $container-md !important;
  }

  @media screen and (min-width: 992px) {
    width: $container-lg !important;
  }

  //@media screen and (min-width: 1200px) {
  //  width: $container-xlg !important;
  // }

  // @media screen and (min-width: 1400px) {
  //   width: $container-xxlg !important;
  // }Æ’
}

.new {
  border-left: 6px solid colours.$desat-dark-cyan;
  @media screen and (min-width: 992px) {
    padding-block-start: 1.125rem;
  }
  //.avatar{
  //    left: 15px !important;
  // }
}

.old {
  padding-inline-start: 1.3125rem;

  @media screen and (min-width: 992px) {
    padding-block-start: 1.125rem !important;
  }

  .avatar {
    left: 1.25rem !important;
  }
}

.card {
  border-radius: 6px;
  position: relative;
  box-shadow: 0 2px 10px colours.$desat-dark-cyan;

  @media screen and (min-width: 992px) {
    padding-block-start: 18px !important;

    .details {
      display: flex;
      align-items: center;
    }
  }

  .avatar {
    position: absolute;
    top: -1.4375rem;
    left: 0.9375rem;
    width: 3.125rem;

    @media screen and (min-width: 992px) {
      top: 15%;
      left: 0.9375rem;
      width: 5.125rem;
    }

    img {
      width: 100%;
    }
  }

  .role-stats {
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;

    @media screen and (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
      .job-position {
        margin-block-end: 0.19rem !important;
      }

      .job-details {
        margin-block-end: 0 !important;
      }
    }

    .job-details {
      margin-block-end: 1.3rem;
    }

    .job-company {
      color: colours.$desat-dark-cyan;
    }

    .job-position:hover {
      color: colours.$desat-dark-cyan;
      cursor: pointer;
    }

    .job-position,
    ul {
      margin-block-end: 0.3rem;
    }

    ul {
      li {
        color: colours.$dark-grayish-cyan;
      }
    }

    hr {
      height: 1px;
      border: none;
      background-color: colours.$dark-grayish-cyan;
      margin-block-end: 1rem;
      //border-top: 1px solid colours.$dark-grayish-cyan;

      @media screen and (min-width: 992px) {
        display: none;
      }
    }

    .wrapper {
      @media screen and (min-width: 992px) {
        margin-inline-start: 7rem;
      }
      .role-features {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        margin-block-end: 0.2rem;

        .role-features__new,
        .role-features__featured {
          color: white;
          padding-inline: 0.5rem;
          padding-block-start: 0.2rem;
          border-radius: 6px;
        }

        .role-features__new {
          background-color: colours.$desat-dark-cyan;
        }

        .role-features__featured {
          background-color: colours.$vdark-grayish-cyan;
        }
      }
    }
  }

  .job-details {
    ul {
      display: flex;
      align-items: center;
      column-gap: 2rem;
      margin: 0;

      li:first-child {
        list-style-type: none;
      }
    }
  }
}

.card:last-child {
  margin-block-end: 6rem;
}


.attribution{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  a:link, a:visited{
    color: colours.$desat-dark-cyan;
    text-decoration: none;

  }

  a:hover, a:focus{
    text-decoration: underline;
  }
}
